<div class="widgetBody">
    <div class="input-field">
        <input type="text" class="control_text" id="chatgpt-prompt" required>
        <label for="chatgpt-prompt">Enter your question for ChatGPT</label>
    </div>
    <button type="button" class="btn" onclick="askChatGPT()">Ask ChatGPT</button>
    <span id="output-message"></span>

    <div class="input-field">
        <p>ChatGPT's Answer</p>
        <p id="chatgpt-answer"></p>
    </div>
</div>


<script>
    console.log(piwik)
async function askChatGPT() {
    console.log('askChatGPT function called'); // Add this line for debugging
    const prompt = document.getElementById('chatgpt-prompt').value.trim();
    console.log('Prompt:', prompt);
    const responseField = document.getElementById('chatgpt-answer');
    const outputMessage = document.getElementById('output-message');

    if (prompt === "") {
        outputMessage.innerText = 'Error: Please enter a question';
        return;
    }

    try {
        let formdata = new FormData;
        formdata.append('prompt', prompt)


        var ajaxHelper = window.ajaxHelper;

    var ajax = new ajaxHelper();
    ajax.setUrl(`index.php?module=API&method=ChatGPT.getChatGptResponse&idSite=${piwik.idSite}&prompt=${prompt}`);
    ajax.setCallback(function (response) {
        console.log(response);
        responseField.innerText = response.choices[0].message.content
    });
    ajax.setFormat('json'); // the expected response format
    ajax.send();


        /*const response = await fetch(`/?module=API&method=ChatGPT.getChatGptResponse&idSite=${piwik.idSite}&token_auth=${piwik.token_auth}&format=json`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                
            },
            body:formdata,
        });

        const data = await response.json();

        if (data.success) {
            responseField.innerText = data.answer;
            outputMessage.innerText = 'Success';
        } else {
            outputMessage.innerText = 'Error: ' + data.error;
        }
        */
    } catch (error) {
        outputMessage.innerText = 'Error: An error occurred';
    }
}
</script>
