<div class="widgetBody">

    <form id="chat-gpt-form" action="#"  style="padding-bottom: 0.75rem">
        <div class="input-field">
            <input type="text" class="control_text" id="chatgpt-prompt" required>
            <label for="chatgpt-prompt">Enter your question for ChatGPT</label>
        </div>

        <div style="display: flex; gap: 1rem; align-content: center; align-items: center; justify-content:  flex-start">
            <button type="submit" class="btn">Ask ChatGPT</button>
            <span id="state-message"></span>
        </div>
    </form>

    <div id="response-container" style="display: none">
        <strong class="m-bottom-1" style="display: block">ChatGPT's Answer</strong>
        <blockquote id="chatgpt-answer" style="display: block; padding-bottom: .75rem;"></blockquote>
    </div>
</div>

<script>
    let promptInput = document.getElementById('chatgpt-prompt');
    const stateMessage = document.getElementById('state-message');
    const responseField = document.getElementById('chatgpt-answer');
    const responseContainer = document.getElementById('response-container');

    let form = document.getElementById('chat-gpt-form');
    form.addEventListener('submit', function (e) {
        e.preventDefault();

        try {
            stateMessage.innerText = 'Loading...';
            let prompt = encodeURIComponent(promptInput.value);
            let ajaxHelper = window.ajaxHelper;
            let ajax = new ajaxHelper();

            ajax.setUrl(`index.php?module=API&method=ChatGPT.getChatGptResponse&format=json&idSite=${piwik.idSite}&prompt=${prompt}`);
            ajax.setCallback(function (response) {
                if (response.choices.length) {
                    responseContainer.style.display = 'block';
                    stateMessage.innerText = '';
                    responseField.innerText = response.choices[0].message.content;
                }
            });
            ajax.setFormat('json'); // the expected response format
            ajax.send();
        } catch (error) {
            stateMessage.innerText = 'Error: An error occurred';
        }
    })
</script>
